.filter {
  width: 220px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.filter h3 {
  font-size: 18px;
  margin-bottom: 10px;
}

.filter button {
  background: transparent;
  border: none;
  text-align: left;
  padding: 8px 12px;
  cursor: pointer;
  border-radius: 4px;
  font-size: 16px;
}

.filter button:hover {
  background: #e9f8f0;
}

.active {
  background: #03341d;
  color: white;
}
