.wrapper {
  margin-top: 80px;
}

.title {
  text-align: center;
  margin-bottom: 20px;
  font-size: 2.5rem;
  font-weight: 700;
  color: #1f2937;
}

.tabs {
  display: flex;
  justify-content: center;
  gap: 32px;
  margin-bottom: 40px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 40px 32px; /* gap hàng 40px - cột 32px */
}

.tabButton {
  background: none;
  border: none;
  font-size: 14px;
  letter-spacing: 1px;
  cursor: pointer;
  padding-bottom: 4px;
  opacity: 0.6;
  position: relative;
}

.activeTab {
  opacity: 1;
  font-weight: 600;
}

.activeTab::after {
  content: "";
  position: absolute;
  bottom: -6px;
  left: 0;
  width: 100%;
  height: 2px;
  background: #03341d;
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 40px;
}

.pagination {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  gap: 20px;
}

.pagination button {
  width: 40px;
  height: 40px;
  border: 1px solid #03341d;
  background: none;
  cursor: pointer;
}

.pagination button:disabled {
  opacity: 0.3;
  cursor: not-allowed;
}
