.header {
  width: 100%;
  background-color: #c9f6d6;
}

.inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
}

.logo {
  font-size: 32px;
  font-family: "Shrikhand", serif;
  font-weight: 400;
}

.nav {
  display: flex;
  gap: 40px;
  margin-left: 80px;
}

.navItem {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 120px;
  height: 40px;

  font-size: 18px;
  font-weight: 500;
  color: #03341d;
  text-decoration: none;
  position: relative;
  letter-spacing: 0.5px;
}

.navItem::after {
  content: "";
  position: absolute;
  bottom: -5px;
  width: 0%;
  height: 2px;
  background-color: #03341d;
  transition: width 0.3s ease;
}

.navItem:hover::after {
  width: 100%;
}

.active::after {
  width: 100%;
}

/* Active state */
.active::after {
  width: 100%;
}

.right {
  display: flex;
  align-items: center;
  gap: 20px;
}

.cartIcon {
  width: 28px;
  height: 28px;
  object-fit: contain;
  cursor: pointer;
}

.cartIconWrapper {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cartIconWrapper::after {
  content: "";
  position: absolute;
  bottom: -2px;
  right: -2px;
  width: 12px;
  height: 12px;
  background-color: #24ff7e;
  border-radius: 50%;
  box-shadow: 0 0 8px rgba(36, 255, 126, 0.6);
}

.loginBtn {
  padding: 8px 26px;
  border: 2px solid #03341d;
  background: transparent;
  cursor: pointer;
  border-radius: 2px;
  font-size: 18px;
  margin-left: 20px;
}
.userBox {
  display: flex;
  align-items: center;
  gap: 12px;
}

.userEmail {
  font-size: 14px;
  font-weight: 500;
  color: #333;
  text-decoration: none;
}

.userEmail:hover {
  text-decoration: underline;
}
