@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bitcount+Grid+Double:wght@100..900&family=Shrikhand&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: auto;
  max-width: 100%;
  overflow-x: hidden;
  background-color: #ffffff;
  font-family: system-ui, sans-serif;
  color: #213547;
}

body {
  display: block;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  cursor: pointer;
}

#root {
  width: 100%;
  max-width: 100%;
}

* {
  font-family: "Poppins", sans-serif;
}
.container {
  width: 100%;
  max-width: 1400px; /* giống kích thước Figma 1440px */
  margin: 0 auto; /* căn giữa */
  padding-left: 80px; /* khoảng cách chuẩn từ Figma */
  padding-right: 80px;
  box-sizing: border-box;
}
