.footer {
  width: 100%;
  background-color: #064d2e;
  color: white;
  padding-top: 60px;
  padding-bottom: 60px;
  margin-top: 80px;
}

.top {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 40px;
  flex-wrap: wrap;
}

.col h2 {
  font-size: 36px;
  margin-bottom: 10px;
}

.col h3 {
  margin-bottom: 12px;
  font-weight: bold;
}

.icons {
  display: flex;
  gap: 12px;
  margin-top: 10px;
  font-size: 20px;
}

.inputGroup {
  display: flex;
  margin-top: 10px;
}

.inputGroup input {
  padding: 12px;
  border: 1px solid white;
  background: transparent;
  color: white;
  width: 220px;
}

.inputGroup button {
  padding: 12px 20px;
  background-color: #8af0b6;
  color: black;
  border: none;
  cursor: pointer;
}

.line {
  margin: 40px 0;
  opacity: 0.2;
}

.bottom {
  display: flex;
  gap: 40px;
  justify-content: center;
  font-size: 14px;
  opacity: 0.8;
}
